@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.comment__box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 50px;
    background-color: rgba( #265E6C, 0.5);
    width: 338px;
    height: 333px;

    img{
        width: 35px;
        height: 35px;
    }

    .comment__text{
        font-family: 'Merriweather', serif;
        line-height: 32px;
    }

    .comment__name{
        font-family: 'Merriweather', serif;
        font-weight: bold;
    }
}

.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.moveVector:hover{
    animation: sideMove 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
    animation-delay: 0s;
}

@keyframes sideMove 
{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

@media screen and (min-width: 1340px) {

    .comment__box{
        width: 544px;
        height: 313px;
    }

}